.nowPlaying {
	display: grid;
	grid-template-columns: repeat(3, minmax(0, 1fr));
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
}

.buttons button {
	border-radius: 25px;
	padding: 8px;
	box-sizing: border-box;
}

.audioControls {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 100%;
}

.seekbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 16px;
}

.seekbar span {
	font-variant-numeric: tabular-nums;
}

.toggled {
	background-color: var(--text-color-contrast);
	color: var(--body-colour);
}

.toggled:hover {
	background-color: var(--text-color-contrast);
	color: var(--body-colour);
}
