.header {
	display: flex;
	width: 100%;
	padding-left: var(--page-gap);
	padding-right: var(--page-gap);
	padding-top: var(--page-gap);
	box-sizing: border-box;
	justify-content: space-between;
}

.header > section {
	display: flex;
	justify-content: space-between;
	gap: 32px;
	align-items: center;
}
